.create-container {
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;
  margin: 10px;
  border: 1.5px solid black;
  border-radius: 10px;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgb(253, 194, 85);
  color: #333;
}
.create-container label {
  font-size: 4.5mm;
}

.create-container h1 {
  color: #333;
}
.schoodle-form {
  margin-bottom: 10px;
  border-bottom: solid rgba(0, 0, 0, 0.616);
}

.options {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.creator-info {
  margin-top: 20px;
  border-top: solid #333
}

body {
  font-family: 'Bree Serif', serif;
  background-color: #fffde1 !important;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
h3 {
  text-align: center;
}

#form {
  width: 80%;
  height: 30px;
  font-size: 4mm;
  background-color: #f3e1ac;
  border: solid 3px #333;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-right: 5px;
  padding-right: 1px;
  outline: none;
  
}

.tableDiv {
  text-align: center;
}

#invite {
  border: 2px solid black;
  border-radius: 8px;
  padding-bottom: 10px;
  background-color:  #f3e1ac;
  background-color: transparent;
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#invite:hover {
  font-weight:bold;
}
#invite h1 {
  color: #333;
}

#invite:hover h3 {
  font-weight: bold;
}
#invite p {
  margin-right: 10%;
}

.table {
  table-layout:fixed;
  width:100%;
  background-color: cornsilk;
  border: solid 3px #333;
}

td {
  word-break: break-all;
}

th {
  text-align: center;
}
.calendar {
  width: 90%;
  display: inline-block;
}


/* buttons */
#create-submit {
  width: 140px;
  height: 70px;
  font-size: 4.5mm;
  background-color: #f7da83;
  border: solid 4px #333;
  border-radius: 8px;
  margin-bottom: 10px;
  outline: none;
}
#create-submit:hover {
  font-weight: bold;
}
#submitAvail {
  width: 140px;
  height: 70px;
  font-size: 4.5mm;
  background-color: #f7da83;
  border: solid 4px #333;
  border-radius: 8px;
  margin-bottom: 10px;
  outline: none;
}
#submitAvail:hover {
  font-weight: bold;
}
#copyText {
  width: 70px;
  height: 35px;
  font-size: 3.5mm;
  background-color: #f7da83;
  border: solid 3px #333;
  border-radius: 2px;
  margin-bottom: 10px;
  text-align: center;
  margin-right: 5px;
  outline: none;
}

#copyButt {
  width: 80px;
  height: 35px;
  font-size: 4.5mm;
  background-color: #f7da83;
  border: solid 4px #333;
  border-radius: 8px;
  margin-bottom: 10px;
  outline: none;
}

#name {
  width: 70px;
  height: 35px;
  font-size: 3.5mm;
  background-color: #f7da83;
  border: solid 3px #333;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-right: 5px;
  outline: none;
}

#email {
  width: 70px;
  height: 35px;
  font-size: 3.5mm;
  background-color: #f7da83;
  border: solid 3px #333;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-right: 5px;
  padding-right: 1px;
  outline: none;
}

.h4, .h5, .h6, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#checkbox {
  width: 20px;
  height: 30px;
}

#foxxie {
  margin-bottom: 10px;
}