.create-container {
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgb(255, 166, 0);
}
.create-container label {
  font-size: 4.5mm;
}

.create-container h1 {
  color: #333;
}
.schoodle-form {
  margin-bottom: 10px;
  border-bottom: solid #333
}

.options {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.creator-info {
  margin-top: 20px;
  border-top: solid #333
}

body {
  font-family: 'Bree Serif', serif;
  background-color: #f7da83 !important;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

h3 {
  text-align: center;
}

#form {
  width: 80%;
  height: 30px;
}

#create-submit {
  width: 140px;
  height: 70px;
  font-size: 4.5mm;
  background-color: #f7da83;
  border: solid 4px #333;
  border-radius: 8px;
  margin-bottom: 10px;
}

#invite {
  border: 2px solid black;
  border-radius: 8px;
  padding-bottom: 10px;
  background: cornsilk;
  position: relative;
  display: block;
  justify-content: center;
  text-align: center;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table {
  table-layout:fixed;
  width:100%;
  background-color: cornsilk;
}

td {
  word-break: break-all;
}

.calendar {
  width: 90%;
  display: inline-block;
}


